* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: rgb(1, 88, 122);
  background-image: url("imgs/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -35px;
  position: relative;
  height: 450px;
}
header nav {
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid blue;
  display: flex;
  align-items: center;
}
header nav .logo {
  height: 100%;
  width: 100px;
}
header nav .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .navegando {
  margin: 0px 30px 0px auto;
  gap: 10px;
  display: flex;
}
header nav .navegando span {
  padding: 10px;
  border-radius: 5px;
  color: blue;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
header nav .navegando span a {
  color: blue;
  text-decoration: none;
}
header nav .navegando span:hover {
  background-color: blue;
  color: white;
}
header nav .navegando span:hover a {
  color: white;
  text-decoration: none;
}
header nav .navegando .login_btn:hover {
  background-color: rgb(1, 143, 1);
}
header nav .navegando .login_btn:hover a {
  color: white;
}
header nav .navegando span:nth-child(1) {
  background-color: blue;
  color: white;
}
header h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  display: grid;
}
main .titulo_main {
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
main .card_produtos {
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow-x: hidden;
}
main .card_produtos .card {
  display: flex;
  flex-flow: column wrap;
  width: 15%;
  min-width: 300px;
  padding: 0px 20px 20px 20px;
  box-shadow: 0px 5px 15px 0px #b7b7b7;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
main .card_produtos .card .img_produto {
  width: 55%;
  height: 55%;
  max-height: 107.11px;
  margin: 25px auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}
main .card_produtos .card .img_produto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .card_produtos .card h4 {
  margin: 0px 0px 0px 0px;
}
main .card_produtos .card button {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  background-color: rgb(0, 190, 0);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bolder;
  transition: 0.1s ease-in-out;
}
main .card_produtos .card button:active {
  background-color: rgb(1, 143, 1);
}

footer {
  background-color: rgb(223, 223, 223);
  height: 200px;
}
footer .redes {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}
footer .redes .img_redes {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .redes .img_redes img {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  cursor: pointer;
}
footer .redes h4 {
  margin: -20px 20px 20px 20px;
}
footer .direitos {
  background-color: black;
  color: white;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.sobre_body {
  display: grid;
  grid-template-rows: 5% 90% 5%;
}

.header_nav {
  height: 100%;
  margin: 0;
}
.header_nav .navegando span a {
  color: blue;
  text-decoration: none;
}
.header_nav .navegando span:hover {
  background-color: blue;
  color: white;
}
.header_nav .navegando span:hover a {
  color: white;
  text-decoration: none;
}
.header_nav .navegando span:nth-child(1) {
  background-color: white;
}
.header_nav .navegando span:nth-child(1) a {
  color: blue;
}
.header_nav .navegando span:nth-child(2) {
  background-color: white;
}
.header_nav .navegando span:nth-child(2) a {
  color: blue;
}

.sobre_nav .navegando span a {
  color: blue;
  text-decoration: none;
}
.sobre_nav .navegando span:hover {
  background-color: blue;
  color: white;
}
.sobre_nav .navegando span:hover a {
  color: white;
  text-decoration: none;
}
.sobre_nav .navegando span:nth-child(2) {
  background-color: blue;
}
.sobre_nav .navegando span:nth-child(2) a {
  color: white;
}

.contato_nav .navegando span a {
  color: blue;
  text-decoration: none;
}
.contato_nav .navegando span:hover {
  background-color: blue;
  color: white;
}
.contato_nav .navegando span:hover a {
  color: white;
  text-decoration: none;
}
.contato_nav .navegando span:nth-child(3) {
  background-color: blue;
}
.contato_nav .navegando span:nth-child(3) a {
  color: white;
}

.main_sobre {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}
.main_sobre .mensagem {
  width: 75%;
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 30px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-flow: wrap column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(211, 211, 211, 0.836);
}
.main_sobre .mensagem img {
  width: 100px;
  height: 100px;
}
.main_sobre form {
  width: 45%;
  display: flex;
  flex-flow: wrap column;
  gap: 10px;
  box-shadow: 0px 3px 5px 0px rgb(214, 214, 214);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.main_sobre form input, .main_sobre form textarea, .main_sobre form button {
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
}
.main_sobre form button {
  background-color: blue;
  color: white;
  border: 1px solid;
  font-weight: bolder;
}

.footer_direitos {
  height: 100%;
  margin: 0;
}
.footer_direitos p {
  height: 100%;
  margin: 0;
}

.body_login {
  background-color: #f4f4f4;
}

.main_login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_login .form_login {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column;
  gap: 10px;
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(97, 97, 175, 0.4);
}
.main_login .form_login img {
  width: 90px;
  height: 80px;
}
.main_login .form_login h2 {
  color: rgb(37, 37, 175);
  margin: 0px 0px 10px 0px;
}
.main_login .form_login input {
  width: 250px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}
.main_login .form_login button, .main_login .form_login a {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: rgb(37, 37, 175);
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
}

.body_dashboard {
  display: grid;
  grid-template-rows: 7% 93%;
}
.body_dashboard .header_dashboard {
  height: 100%;
  background: linear-gradient(90deg, blue 60%, #1E90FF);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
.body_dashboard .header_dashboard a {
  background: linear-gradient(90deg, orange 60%, rgb(252, 219, 157));
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.body_dashboard .main_dashboard {
  width: 100%;
  height: 100%;
  display: flex;
}
.body_dashboard .main_dashboard .navegando_dashboard {
  width: 15%;
  min-width: 215px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  align-items: center;
  gap: 7px;
}
.body_dashboard .main_dashboard .navegando_dashboard button {
  width: 85%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 0.9em;
  transition: 0.1s ease-in-out;
}
.body_dashboard .main_dashboard .navegando_dashboard button:active {
  transform: scale(1.1);
}
.body_dashboard .main_dashboard .display_dashboard {
  width: 85%;
  height: 100%;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.37);
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.body_dashboard .main_dashboard .display_dashboard .card_default_dashboard {
  background-color: white;
  text-align: center;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(97, 97, 175, 0.4);
  position: absolute;
  transition: 0.3s ease-in-out;
}
.body_dashboard .main_dashboard .display_dashboard .card_default_dashboard h2 {
  color: rgb(37, 37, 175);
  margin: 0px 0px 20px 0px;
}
.body_dashboard .main_dashboard .display_dashboard .card_default_dashboard p {
  opacity: 0.6;
}
.body_dashboard .main_dashboard .display_dashboard .msg_entrada {
  top: 100%;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto {
  top: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto h2 {
  margin: 0 0 3px 0;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto input {
  width: 400px;
  padding: 10px;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto button {
  padding: 10px;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado {
  width: 100%;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.233);
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado img {
  width: 100%;
  max-height: 400px;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado h3, .body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado p, .body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado span {
  margin-left: 20px;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado h3 {
  color: blue;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado p {
  opacity: 1;
}
.body_dashboard .main_dashboard .display_dashboard .consulta_produto .resultado span {
  color: rgb(12, 150, 30);
  font-weight: bolder;
  font-size: 1.4em;
}/*# sourceMappingURL=estilos.css.map */